development: &development
  adapter: mysql
  database: socialactions_development
  username:
  password: 
  host:

test:
  <<: *development
  database: socialactions_test

production:
  <<: *development
  database: socialactions_production
