    <div id="header">
         
         <div>      
            <div id="daily-email-signup">
            <img src="http://socialactions.com/images/join-our-enewsletter.gif" />&nbsp;&nbsp;&nbsp;<a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank"><img src="http://socialactions.com/images/privacy-by-safeunsubscribe.gif" border="0" alt=""/></a><br/>
<form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:2;">
<input type="hidden" name="m" value="1101946479089">
<input type="hidden" name="p" value="oi">

<input type="text" name="ea" size="25" value="Your email address" style="font-size:10pt; border:1px solid #999999;">
<input type="submit" name="go" value="Sign-up!" class="submit" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10pt;">
</form>
            </div>
            
          <div id="logo-title">
                          <a href="http://socialactions.com/" title="Home">
                <img src="http://socialactions.com/images/social-actions-logo.gif" alt="Home" id="logo" />
              </a>
                        
                          <br/>Find Social Actions. Create Social Change.                        
          </div> <!-- /logo-title -->
      
      </div>
     
      <div id="header-nav-top" style="text-align:left">
      		
            <div style="float:right"><a href="http://socialactions.com/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://blog.socialactions.com/">Join Our Blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://socialactions.com/about">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://socialactions.com/labs">Social Actions Labs</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://socialactions.com/services">Services</a>&nbsp;&nbsp;</div>
            
             <form action="/actions" method="get">     
              
            <input type="text" maxlength="255" name="keywords" size="20" value="" style="background-color:#ffffff;vertical-align:middle" />&nbsp;&nbsp;<input type="submit" value="Find an action" style="color:#ffffff;padding-right:3px;padding-left:3px;vertical-align:middle" />
            
             
			</form>
      </div><!-- /header-nav-top -->


	    
        <div id="header-region">
        <div id="block-block-11" class="block block-block">  
  <div class="blockinner">

    <h2 class="title">  </h2>
    <div class="content">
<div>
<div style="float:left;width:160px;margin-right:5px;margin-top:4px;margin-bottom:20px;margin-left:5px"><p style="line-height:normal;font-size:120%"><a href="http://blog.socialactions.com/profiles/blog/show?id=2062983%3ABlogPost%3A1821"><img src="http://socialactions.com/images/mashup/n2y3_winner_small.jpg" border="0"/></a></p></div>
<div style="float:left;width:350px;margin-right:25px;margin-top:4px;margin-bottom:20px;"><p  style="line-height:normal;font-size:120%"><img src="http://socialactions.com/images/find-ways-to-take-action.gif" /><br/><a href="http://socialactions.com/take-action" style="text-decoration:underline">Our mission is to help you take action &raquo;</a></p></div>
<div style="float:left;width:350px;margin-top:4px;margin-bottom:20px;"><p style="line-height:normal;font-size:120%"><img src="http://socialactions.com/images/meet-the-social-action-platforms.gif" /><br/><a href="http://socialactions.com/meet-the-platforms" style="text-decoration:underline">Your complete guide to 19 social action platforms &raquo;</a></p></div>
</div>   </div>    
  </div>
</div>
    </div>
    
        
 	      
    </div> <!-- /header -->
